<?xml version="1.0"?>
<config>
    <modules>
        <KJ_MageSplit>
            <version>1.0.0</version>
        </KJ_MageSplit>
    </modules>

    <global>
        <events>
            <sales_order_place_after>
                <observers>
                    <magesplit_sales_order_place_after>
                        <class>KJ_MageSplit_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </magesplit_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>

        <blocks>
            <magesplit>
                <class>KJ_MageSplit_Block</class>
            </magesplit>
        </blocks>

        <helpers>
            <magesplit>
                <class>KJ_MageSplit_Helper</class>
            </magesplit>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <magesplit>
                    <file>kj_magesplit.xml</file>
                </magesplit>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <magesplit>
                    <file>kj_magesplit.xml</file>
                </magesplit>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <admin_magesplit>
                <use>admin</use>
                <args>
                    <module>KJ_MageSplit</module>
                    <frontName>admin_magesplit</frontName>
                </args>
            </admin_magesplit>
        </routers>
    </admin>

</config>