<?xml version="1.0"?>
<config>
    <modules>
        <KJ_MageSplit>
            <version>1.0.0</version>
        </KJ_MageSplit>
    </modules>

    <global>
        <blocks>
            <magesplit>
                <class>KJ_MageSplit_Block</class>
            </magesplit>
        </blocks>

        <helpers>
            <magesplit>
                <class>KJ_MageSplit_Helper</class>
            </magesplit>
        </helpers>

        <models>
            <magesplit>
                <class>KJ_MageSplit_Model</class>
                <resourceModel>magesplit_mysql4</resourceModel>
            </magesplit>
            <magesplit_mysql4>
                <class>KJ_MageSplit_Model_Mysql4</class>
                <entities>
                    <order>
                        <table>kj_magesplit_order</table>
                    </order>
                </entities>
            </magesplit_mysql4>
        </models>

        <resources>
            <magesplit_setup>
                <setup>
                    <module>KJ_MageSplit</module>
                    <class>Clean_Util_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magesplit_setup>
            <magesplit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magesplit_write>
            <magesplit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magesplit_read>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <magesplit>
                    <file>kj_magesplit.xml</file>
                </magesplit>
            </updates>
        </layout>

        <events>
            <sales_order_place_after>
                <observers>
                    <magesplit_sales_order_place_after>
                        <class>KJ_MageSplit_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </magesplit_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <magesplit>
                    <file>kj_magesplit.xml</file>
                </magesplit>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <admin_magesplit>
                <use>admin</use>
                <args>
                    <module>KJ_MageSplit</module>
                    <frontName>admin_magesplit</frontName>
                </args>
            </admin_magesplit>
        </routers>
    </admin>

</config>